/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;700;900&display=swap");
/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}
/* Link */
a {
    text-decoration: none;
    color: inherit;
}
/* container */
.container {
    width: 80%;
    margin: 0 auto;
}
/* btn */
.btn {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    background: #7843e9;
    color: #fff;
}
.btn.btn-primary {
    padding: 16px 80px;
    font-size: 20px;
}
.btn:hover {
    background: #5204fa;
}
/* heading */
h1,
h2,
h3,
h4 {
    color: #111;
}
p {
    font-size: 20px;
    font-weight: 500;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}
h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}
section {
    padding: 120px 0;
}
.heading-title {
    text-align: center;
}
.heading-title h2 {
    font-size: 40px;
    font-weight: 700;
}
.heading-title span {
    display: block;
    width: 30px;
    margin: 17px auto 20px;
    height: 5px;
    background: #7843e9;
    border-radius: 10px;
}
.heading-title p {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;
}