/* Nav */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    height: 50px;
}
.logo span {
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
}
.navbar a {
    padding: 22px 30px;
    font-size: 16px;
    font-weight: 700;
}
/* Header */
.header {
    background-image: url("../img/header-bg.svg");
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    padding: 200px 0;
}
.header h1 {
    font-size: 60px;
    letter-spacing: 3px;
    color: #111;
    font-weight: 800;
}
.header p {
    font-size: 22px;
    color: #333;
    line-height: 1.6;
    width: 800px;
    margin: 50px auto;
}